.game {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;

    @include media-desktop  {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}

.game div {
    background: red;
}

.game__turn {
    grid-column-start: 1;
    grid-column-end: 3;
}

.game__square {

}
