.game {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;

    @include media-desktop  {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}


.game__turn {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    gap: 20px;

    i {
        font-size: 3rem;
        margin-left: 10px;
    }

    p {
        font-size: 1.4rem;
    }
}

.game__menu {

}


.game__square {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-main;
    border-radius: 10px;
    font-size: 4.8rem;

    &:hover {
        cursor: pointer;
        opacity: 90%;
    }
}

.game__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    p {
        font-size: 1.4rem;
        font-weight: 600;
    }
    span {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    &_player-1 {
        background: $color-additional-primary;
    }
    &_player-2 {
        background: $color-additional-secondary;
    }
    &_ties {
        background: $color-main-light;
    }
}

